body {
    margin: 0;
}

header {
    background: #131313;
    height: 75px;
}

.header_menu {
    display: flex;
    align-items: center;

}

.title {
    margin: 0;
    font-size: calc(20px + 8 * (100vw - 320px) / 880);
    padding: 20px;
    color: white;
}

nav {
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 10%;
    font-size: calc(14px + 8 * (100vw - 320px)/880);
}

.main_img {
    background: url('studying.jpg') no-repeat center center;
    background-size: cover;
    padding: 60px 0px 60px 60px;
}

.main_img img {
    width: 100%;   
}

.main_img h1 {
    color: white;
    font-size: 40pt;
}

.courses_title {
    text-align: center;
    font-size: calc(14px + 4 * (100vw- 320px)/880);
}

.physics_7_9 {
    margin-left: 3%;
}

.physics_7_9 h2 {
    margin-top: 0;
}

.physics_7_9_preview {
    width: 30%;
}

.physics_7_9_content {
    background-color: #131313;
    color: white;
    width: 30%;
}

.physics_7_9_content h2 {
    font-size: calc(12px + 8 * (100vw - 320px)/880);
    padding-left: 1%;
    padding-top: 1%;
    margin-bottom: 0;
}

.physics_7_9_content h3 {
    font-size: calc(10px + 4 * (100vw - 320px)/880);
    padding-left: 1%;
    margin-top: 0;
}

.physics_7_9_content h4 {
    font-size: calc(8px + 4 * (100vw - 320px)/880);
}

@media screen and (max-width: 900px) {
    .main_img h1 {
        font-size: 20pt;
    }
}