body {
    margin: 0;
}

header {
    background: #131313;
    height: 75px;
}

.header_menu {
    display: flex;
    align-items: center;

}

.title {
    margin: 0;
    font-size: 24pt;
    padding: 20px;
    color: white;
}

nav {
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 30px;
    font-size: 14pt;
}

.main_img {
    align-items: center;
    display: flex;
    height: 415px;
    background-image: url("studying.jpg");
    background-size: cover;
}

.main_img h1 {
    color: white;
    font-size: 40pt;
    padding-left: 100px;
}

.courses_title {
    text-align: center;
}

.physics_7_9 {
    width: 480px;
    height: 240px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

.physics_7_9_preview {
    width: 100%;
    height: 100px;
}

.physics_7_9_content {
    background-color: #131313;
    padding: 15px 30px;
    color: white;
    height: 140px;
}

.physics_7_9 h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30pt;
}

.physics_7_9 h3 {
    font-size: 20pt;
    margin-top: 0;
}

.physics_7_9 h4 {
    margin-top: 20px;
}