body {
    margin: 0;
}

header {
    background: #131313;
    height: 75px;
}

.header_menu {
    display: flex;
    align-items: center;

}

.title {
    margin: 0;
    font-size: calc(20px + 8 * (100vw - 320px) / 880);
    padding: 20px;
    color: white;
}

nav {
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 10%;
    font-size: calc(14px + 8 * (100vw - 320px)/880);
}

.main_img {
    background: url('studying.jpg') no-repeat center center;
    background-size: cover;
    padding: 60px 0px 60px 60px;
}

.main_img img {
    width: 100%;   
}

.main_img h1 {
    color: white;
    font-size: 40pt;
}

.courses_title {
    text-align: center;
    font-size: calc(14px + 4 * (100vw- 320px)/880);
}

.physics_7_9 {
    width: 30%;
    height: 10%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

.physics_7_9_preview {
    width: 100%;
    height: 100px;
}

.physics_7_9_content {
    background-color: #131313;
    padding: 15px 30px;
    color: white;
    height: 140px;
}

.physics_7_9 h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30pt;
}

.physics_7_9 h3 {
    font-size: 20pt;
    margin-top: 0;
}

.physics_7_9 h4 {
    margin-top: 20px;
}

@media screen and (max-width: 900px) {
    .main_img h1 {
        font-size: 20pt;
    }
}